bin/
gen/
.metadata/
bin/AndroidManifest.xml

gen/com/nguyenshane/creativecolors/R.java
bin/jarlist.cache

gen/com/nguyenshane/creativecolors/R.java
gen/com/nguyenshane/creativecolors/BuildConfig.java
gen/com/nguyenshane/creativecolors/BuildConfig.java
gen/com/nguyenshane/creativecolors/BuildConfig.java
bin/jarlist.cache
gen/com/nguyenshane/creativecolors/R.java
gen/com/nguyenshane/creativecolors/R.java
gen/com/nguyenshane/creativecolors/BuildConfig.java
gen/com/nguyenshane/creativecolors/R.java

project.properties
